html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
figure.main-logo img {
  display: block;
  margin: auto;
}
div.social {
  background-color: #c6c6c6;
  padding-top: 15px;
  padding-botton: 15px;
}
div.suscripcion {
  background-color: #00f;
  border-top: 12px solid #1d71b8;
  border-bottom: 12px solid #1d71b8;
  padding-top: 3em;
  padding-bottom: 3em;
}
div.suscripcion h3 {
  color: #fff;
}
div.suscripcion form {
  background-color: #ededed;
  padding: 3em 0;
  text-align: center;
}
div.suscripcion form input {
  width: 60%;
  height: 3.5em;
  padding-left: 1em;
  font-weight: bold;
  font-style: italic;
  color: #878787;
}
div.suscripcion form input[type=submit] {
  background-color: #1d71b8;
  color: #fff;
  width: 20%;
}
div.slider {
  position: relative;
}
div.slider figure.barra {
  position: absolute;
  right: 135px;
  top: -45px;
}
div.slider figure.main-slider img {
  width: 100%;
}
div.ubicacion {
  padding-top: 4em;
}
div.ubicacion div.mapa {
  height: 500px;
}
div.ubicacion div.texto {
  padding-left: 3em;
}
div.ubicacion div.texto h2 {
  color: #1a3c6e;
  font-size: 2.2em;
  font-weight: bold;
  font-style: italic;
}
div.ubicacion div.texto p {
  font-size: 1.2em;
}
div.contacto {
  padding-top: 4em;
  padding-bottom: 4em;
}
div.contacto div.texto h2 {
  color: #1a3c6e;
  font-size: 2.2em;
  font-weight: bold;
  font-style: italic;
}
div.contacto div.texto p {
  font-size: 1.2em;
}
div.contacto div.texto span {
  color: #1a3c6e;
  font-weight: bold;
}
div.contacto div.texto ul li.facebook {
  list-style-image: url("img/facebook.png");
}
div.contacto form {
  padding-top: 40px;
}
div.contacto form input {
  width: 45%;
  float: left;
}
div.contacto form input:nth-child(even) {
  margin-left: 10%;
}
div.contacto form input[type=submit] {
  width: 5em;
  margin-left: 0;
}
div.contacto form textarea {
  width: 100%;
}
